<h1>Olá mundo</h1>
<p>Idioma utilizado: <%= locale(I18n.locale) %> </p>
<p><%= data_br(Date.today)%></p>

<%= render "menu"%>
<p>
    Voce esta em ambiente de <strong><%= ambiente_rails%></strong>
</p>
<p>Variavel de instancia: <%= @nome %></p>
