<h1>Olá mundo</h1>
<p>Idioma utilizado: <%= locale(I18n.locale) %> </p>
<p>Data: <%= I18n.l(Date.today)%></p>
<p><%= I18n.t(:hello)%></p>

<%= render "menu"%>
<p>
    Voce esta em ambiente de <strong><%= ambiente_rails%></strong>
</p>
<p>Variavel de instancia: <%= @nome %></p>
